<h3>{{ _("File Check") }}</h3>

<p>{% trans %}
    The bundled File Check plugin allows checking your uploaded files for known slicer misconfigurations and related issues.
    The plugin automatically checks all freshly uploaded files and files selected for printing, but for already uploaded
    files you can also trigger a full file check manually. It is recommended to do this whenever new checks are added
    to the plugin, in which case your last check will be marked as outdated below.
{% endtrans %}</p>

{% include "snippets/fileCheckButton.jinja2" %}
